@model OBIS_MVC.Models.Entity_Framework.TBL_KULUP
@{
    ViewBag.Title = "KulupGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:15px">Kulüp Güncelle</h2>
<hr />
@using (Html.BeginForm("KulupGuncelle", "KULUP", FormMethod.Post))
{
    <div class="form-group">
        <label style="font-weight:bold">Kulüp Ad</label>
        @Html.TextBoxFor(m=>m.KLPAD,new { @class="form-control"})
    </div>
    @Html.HiddenFor(m=>m.KULUPID)
    <div style="margin-top:15px">
        <button class="btn btn-success">Kaydet</button>
    </div>
}

